body{
  background-color:#f3defc;
}

.main--outer{
  background-color: #1F2125;
  width: 380px;
  height: 670px;
  margin: auto;
  margin-top: 50px;
  border-style:solid ;
  border-color: white;
  border-width: 7px;
  border-radius: 19px;
  box-shadow: #52514e;
  font-family: "Inter", sans-serif;
}

.main--inner{
  width: 65%;
  height: 600px;
  position: relative;
  top: 35px;
  left:68px;
  background-color: #181A1E;
  border-radius: 15px;
  
}

.about--title, .interests--title{
  margin-bottom: 0px;
  
  
}

.about--details, .interests--details{
  margin-top: 2px;
  font-size: 13px;
}

.details{
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  position: relative;
  top: 15px;
}

